/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p, a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 10vh;
  width: 60%;
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 10rem;
}
nav .logo h1 {
  margin: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: linear-gradient(#38d39f, #38a4d3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.intro h3 {
  font-size: 6rem;
  padding: 2rem 0rem;
}
.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.splash {
  height: 100%;
  z-index: -1;
  top: 0;
  position: absolute;
  right: 0;
}

.intro-social {
  margin-top: 4rem;
}
.intro-social a {
  margin-right: 2rem;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text, .intro-image {
  flex: 1 1 40rem;
}

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  animation: my ease infinite alternate 0.5s;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

/* animation */
@keyframes my {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.projects h2 {
  margin: 5rem;
}

.travelly, .elena {
  flex: 1 1 40rem;
}

.form-section {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.form-section form {
  padding: 3rem 8rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.form-section form input, .form-section form textarea {
  margin: 2rem;
}
.form-section form input:focus, .form-section form textarea:focus {
  outline: 2px solid black;
}
.form-section form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.form-section form button {
  width: 100%;
  padding: 2rem;
  background: #154353;
  color: white;
  cursor: pointer;
}
.form-section form button:hover {
  background: black;
}

footer {
  background: #154353;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
}
footer h4 {
  flex: 1 1 40rem;
}

@media screen and (max-width: 1705px) {
  html {
    font-size: 53%;
  }
  .splash {
    width: 60%;
  }
}
@media screen and (max-width: 1560px) {
  html {
    font-size: 50%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
  .intro-images {
    flex: 1 1 40rem;
  }
  .intro-images .travelly, .intro-images .elena {
    flex: 1 1 50rem;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 40%;
  }
  .intro-text, .intro-image {
    flex: 1 1 100%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro-text, .intro-image {
    flex: 1 1 100%;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 4rem;
  }
  form {
    padding: 0rem;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */